.widget_container {
  .gauge-container {
    width: 100%;

    .gauge {
      display: flex;
      border: 1px solid var(--border-default-grey);
      background-color: var(--background-raised-grey);
      width: 100%;

      &-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .legend_dot {
    margin-left: 0px;
    min-width: 0.8rem;
    width: 0.8rem;
    height: 0.8rem;
    min-width: 0.8rem;
    display: inline-block;
    margin-top: 0.25rem;
  }
}
