.no_select {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  cursor: pointer;
}

.widget_container {
  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 0;
    margin-top: 1.5rem;
    min-height: 400px;

    .tooltip {
      position: absolute;
      min-width: 10rem;
    }

    &_container {
      height: 100%;

      svg {
        height: 100%;
        min-height: 300px;
        width: 100%;
      }
    }

    &_sub_container {
      width: 100%;

      .drom {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--grey-200-850);
        max-height: 400px;
      }
    }
  }

  @media (min-width: 62em) {
    .map {
      height: 100%;
      margin-left: 3rem;
      margin-top: 0;
    }
  }

  @media (max-width: 62em) {
    .map {
      width: 100%;
    }
  }

  .align-stretch {
    align-self: stretch;
  }
}
